<h1>list of users</h1>

<% @users.each do |user| %>
<div>
  <% if user.avatar.attached? %>
    <%= image_tag user.avatar.variant(auto_orient: true), class: "my-avatar" %>
  <% end %>
</div>
  <p> <%= link_to(user.username, "/users/#{user.id}") %> | <%= user.location %> | <%= user.rate %></p>
<% end %>
