
<h1><%= @post.title %></h1>
<p><%= @post.content %></p>
<p class="date">author: <%= link_to @post.user.username, @post.user %></p>
<p class="date">created: <%= @post.created_at.strftime("%B %d %Y") %></p>
